{% extends "pages/base.html" %}
{% load i18n %}
{% load gallery_tags %}

{% block body_class %}{% endblock body_class %}

{% block pagetitle %}{{ page.title }}{% endblock pagetitle %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<h1>{{ page.title }}</h1>
			{% if page.sub_title %}<h2>{{ page.sub_title }}</h2>{% endif %}
		</div>
	</div>

	<div class="row">
		{{ page.text|safe }}
	</div>

	{% show_gallery media=page.media.all %}

	{% include "pages/_sub_sections.html" %}
{% endblock content %}
