{% load admin_urls %}{% load i18n %}{% spaceless %}
{# show static text #}

{% if safe == True %}
<span class="static-text {% if static_text and request.user.is_superuser and show_edit %}can-edit{% endif %} {% if not static_text and request.user.is_superuser and show_edit %}no-static-text{% endif %}">
	{% if static_text %}
		{% if show_title %}
		<{{heading}}>{{ static_text.title|safe }}</{{heading}}>
		{% endif %}
		<{{wrapper}} class="{{ wrapper_class }}">
		{{ static_text.text|safe }}
		</{{wrapper}}>
	{% endif %}

	{# admin action #}
	{% if not static_text and request.user.is_superuser and show_edit %}
		<div class="actions">
			<em>{% blocktrans %}Static text '{{ slug }}' not found{% endblocktrans %}</em><br>
			<a href="/admin/lemoulin_pages/statictext/add/?slug={{ slug }}" target="_blank" class="btn btn-warning btn-"><i class="fa fa-file-text-o"></i> {% trans "Create" %} <em>'{{ slug }}'</em></a>
		</div>
	{% elif static_text and request.user.is_superuser and show_edit  %}
		<div class="actions">
			<a href="/admin/lemoulin_pages/statictext/{{ static_text.pk }}/" target="_blank" class="btn btn-warning btn-"><i class="fa fa-file-text-o"></i> {% trans "Edit text" %} <em>'{{ slug }}'</em></a>
		</div>
	{% endif %}
</span>
{% else %}
	{% if striptags %}
	{{ static_text.text|striptags }}
	{% else %}
	{{ static_text.text }}
	{% endif %}
{% endif %}
{% endspaceless %}
